<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="<%= basePath %>/public/css/auth.css">
</head>

<body class="auth-layout">
  <main class="auth-main">
    <%- body %>
      <!-- Include the auth JavaScript -->
      <script src="<%= basePath %>/public/js/auth.js"></script>
      <script>
        // Initialize when DOM is loaded
        document.addEventListener('DOMContentLoaded', function () {
          const basePath = '<%= basePath %>';
          console.log('basePath', basePath);
          window.authUI = new AuthUI(basePath);
        });
      </script>
  </main>
</body>

</html>